@CHARSET "UTF-8";


body{
	padding-top: 50px;
}

.main{
	padding: 20px 40px;
	background-color: #fff;
}

.main .page-header {
	margin-top: 0;
}

button#bidding.bid_button {
	margin-left:220px;
	background-color:orange;
	height:35px;
	width:130px;
	border: solid 1px #c0c0c0;
	border-radius:5px;
	color:white;
}
div #right{
	float:right;
}
div #left {
	float:left;
}
table.password{
	margin-left:50px;
	border-spacing: 0;
    border-collapse: collapse;
    width:500px;
    border:solid 1px gray;
    border-radius:10px;
}
table.password tr{
	text-align:center;
	height:60px;
	font-size:20px;
	border-bottom:solid 2px gray;
}
table.password th{
	text-align:center;
	border-right:solid 2px gray;
	background-color:#8080ff;
}

button.register{
	margin-top:10px;
	margin-left:450px;
	width:100px;
}
th {
	background-color:#8080ff;	
}
